@import "tailwindcss";

@plugin "@tailwindcss/typography";
@config "./tailwind.config.js";

@variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "press-start-2p";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local("PressStart2P-Regular"), url("/PressStart2P-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("IBMPlexMono-Regular"), url("/IBMPlexMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("IBMPlexMono-Bold"), url("/IBMPlexMono-Bold.woff2") format("woff2");
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("IBMPlexSans-Regular"), url("/IBMPlexSans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("IBMPlexSans-Regular"), url("/IBMPlexSans-Bold.woff2") format("woff2");
}

@theme {
    --font-mono: "IBM Plex Mono", ui-monospace, monospace;
    --font-display: "press-start-2p", ui-monospace, monospace;
    --font-sans: "IBM Plex Sans", ui-sans-serif, system-ui, sans-serif;
    --color-zag-dark: var(--color-neutral-900);
    --color-zag-light: var(--color-neutral-100);
    --color-zag-dark-muted: var(--color-neutral-600);
    --color-zag-light-muted: var(--color-neutral-400);
    --color-zag-accent-light: var(--color-emerald-400);
    --color-zag-accent-light-muted: var(--color-emerald-300);
    --color-zag-accent-dark: var(--color-emerald-600);
    --color-zag-accent-dark-muted: var(--color-emerald-800);
}

@layer base {
    :root {
        --zag-stroke: 2px;
        --zag-offset: 6px;
        --zag-transition-duration: 0.15s;
        --zag-transition-timing-function: ease-in-out;
    }

    .zag-transition {
        @media (prefers-reduced-motion: no-preference) {
            transition: background-color var(--zag-transition-duration) var(--zag-transition-timing-function),
            color var(--zag-transition-duration) var(--zag-transition-timing-function),
            fill var(--zag-transition-duration) var(--zag-transition-timing-function),
            border-color var(--zag-transition-duration) var(--zag-transition-timing-function),
            transform var(--zag-transition-duration) var(--zag-transition-timing-function);
        }
    }

    .zag-fill {
        fill: var(--color-zag-dark);

        &:where(.dark, .dark *) {
            fill: var(--color-zag-light);
        }
    }

    .zag-border-b {
        border-bottom: var(--zag-stroke) solid;
        border-color: var(--color-zag-dark);

        &:where(.dark, .dark *) {
            border-color: var(--color-zag-light);
        }
    }

    .zag-offset {
        text-underline-offset: var(--zag-offset);
    }

    .prose .expressive-code {
        margin-bottom: 1.25em;
    }
}
