---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <section class="p-4 max-w-3xl mx-auto mt-16">
        <h1 class="text-3xl sm:text-4xl font-display pb-8">
            Well, this is awkward
        </h1>
        <h2 class="text-xl sm:text-2xl pb-8">404 - Page not found</h2>
        <p>
            It seems that this page does not exist. If you want to return to safety, <a
                class="underline underline-offset-4 font-medium"
                href="/">click here to go home</a
        >.
        </p>
    </section>
</Layout>
