<div class="w-full font-sans max-w-full prose

prose-headings:font-mono prose-headings:scroll-mt-24 prose-h1:text-2xl prose-h2:text-2xl prose-headings:font-bold
prose-h3:text-xl prose-h4:text-lg prose-h5:text-base prose-h6:text-sm prose-headings:text-balance

prose-img:rounded-none

prose-a:underline-offset-4 prose-a:offset-[var(--zag-offset)] prose-a:focus:outline-2 prose-a:focus:outline-offset-2
prose-a:focus:outline-zag-dark prose-a:dark:focus:outline-zag-light

prose-p:text-justify
prose-code:before:content-none prose-code:after:content-none">
    <slot/>
</div>
